.dev-only {
  display: none;
}

.menu a,
.dropdown a,
.dropdown-menu a,
.menu a:hover,
.dropdown a:hover,
.dropdown-menu a:hover {
  text-decoration: none;
}

.check-item-label {
  margin-right: 15px;
}

.check-item-label span {
  display: inline-block;
  margin-left: 10px;
}

.doan {
  display: none;
}

/* your styles go here */
.mce-branding.mce-widget.mce-label.mce-flow-layout-item.mce-last {
  display: none;
}

.list-header > .row > *[class*="col"] {
  padding-top: 5px;
  padding-bottom: 5px;
}

.list-body img,
.list-body video {
  max-width: 100%;
}

.list-body > .row {
  border-top: 0.5px #999 solid;
}

.list-body > .row:nth-child(odd) {
  background: #fafafa;
}

.list-body > .row:hover {
  background: rgba(220, 220, 220, 0.8);
}

.list-body > .row > *[class*="col"] {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pagination a {
  text-decoration: none;
}

.form-input-file-group .input-file-wrapper {
  position: relative;
}

.form-input-file-group .input-file-wrapper input[type=text],
.form-input-file-group .input-file-wrapper button {
  cursor: pointer;
}

.form-input-file-group .input-file-wrapper .input-hidden-file {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: block;
  width: 100%;
  z-index: 500;
}

.form-group textarea {
  min-height: 100px;
}

label.required::after {
  content: "*";
  display: inline-block;
  color: #f00;
  margin-left: 5px;
  font-size: 1rem;
  line-height: 1.5;
}

.item-list .item-col.item-col-email,
.item-list .item-col.item-col-roles,
.item-list .item-col.item-col-same {
  flex-basis: 0;
  -webkit-box-flex: 9;
  -ms-flex-positive: 9;
  flex-grow: 9;
}

.item-list .item-col.item-col-same-sm, .item-list .item-col.item-col-same-sm.item-col-title {
  flex-basis: 0;
  -webkit-box-flex: 4;
  -ms-flex-positive: 4;
  flex-grow: 4;
}

.item-list .item-col.item-col-same-md, .item-list .item-col.item-col-same-md.item-col-title {
  flex-basis: 0;
  -webkit-box-flex: 6;
  -ms-flex-positive: 6;
  flex-grow: 6;
}

.item-list .item-actions .actions-list {
  list-style: none;
  padding: 0;
}

.item-list .item-actions .actions-list li {
  list-style: none;
  margin: 2px 5px;
  display: inline-block;
}

.item-list .item-actions .actions-list li a {
  text-decoration: none;
}

@media (max-width: 575px) {
  .item-list .item-col.item-col-email,
  .item-list .item-col.item-col-roles,
  .item-list .item-col.item-col-same {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .item-list .item-col.item-col-same-sm {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .item-list .item-col.item-col-same-md {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

.form-input-file-group .input-file-wrapper input[type=text],
.form-input-file-group .input-file-wrapper button {
  cursor: pointer;
}

.form-input-file-group .input-file-wrapper .input-hidden-file {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: block;
  width: 100%;
  z-index: 500;
}

.header {
  height: 45px;
}

.header .header-block-nav .dropdown-menu {
  margin-top: 8px;
}

.sidebar .sidebar-header .brand {
  line-height: 45px;
  font-size: 15px;
}

.sidebar .sidebar-menu > li > a {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 12px;
}

.sidebar .sidebar-menu > li > .sidebar-nav > li a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 44px;
  padding-right: 15px;
  background-color: #333e48;
}

.product-links .list-product-linked .product-linked-list .list-body {
  max-height: 288px;
  overflow-y: scroll;
}

.product-links .search-results .search-result-list .list-body {
  max-height: 270px;
  overflow-y: scroll;
}

.product-links .list-product-linked .search-result-list .product-search-item,
.product-links .list-product-linked .product-linked-list .product-search-item,
.product-links .search-results .search-result-list .product-search-item,
.product-links .search-results .product-linked-list .product-search-item {
  min-height: 36px;
  position: relative;
  padding-left: 60px;
  padding-right: 100px;
}

.product-links .list-product-linked .search-result-list .product-search-item > div,
.product-links .list-product-linked .product-linked-list .product-search-item > div,
.product-links .search-results .search-result-list .product-search-item > div,
.product-links .search-results .product-linked-list .product-search-item > div {
  padding-top: 5px;
  padding-bottom: 5px;
}

.product-links .list-product-linked .search-result-list .product-search-item .check-block,
.product-links .list-product-linked .product-linked-list .product-search-item .check-block,
.product-links .search-results .search-result-list .product-search-item .check-block,
.product-links .search-results .product-linked-list .product-search-item .check-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  text-align: center;
}

.product-links .list-product-linked .search-result-list .product-search-item .btn-block,
.product-links .list-product-linked .product-linked-list .product-search-item .btn-block,
.product-links .search-results .search-result-list .product-search-item .btn-block,
.product-links .search-results .product-linked-list .product-search-item .btn-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  text-align: right;
  padding-right: 3px;
}

.product-links .list-product-linked .search-result-list .product-search-item .product-detail-block,
.product-links .list-product-linked .product-linked-list .product-search-item .product-detail-block,
.product-links .search-results .search-result-list .product-search-item .product-detail-block,
.product-links .search-results .product-linked-list .product-search-item .product-detail-block {
  margin-bottom: 0;
  padding-top: 5px;
}

.product-links .list-product-linked .search-result-list .product-search-item.row-header,
.product-links .list-product-linked .product-linked-list .product-search-item.row-header,
.product-links .search-results .search-result-list .product-search-item.row-header,
.product-links .search-results .product-linked-list .product-search-item.row-header {
  border-bottom: 0.5px silver dotted;
}

.product-links .list-product-linked .search-result-list .product-search-item.row-header .btn-block,
.product-links .list-product-linked .product-linked-list .product-search-item.row-header .btn-block,
.product-links .search-results .search-result-list .product-search-item.row-header .btn-block,
.product-links .search-results .product-linked-list .product-search-item.row-header .btn-block {
  padding-right: 10px;
}

.product-links .list-product-linked .search-result-list .product-search-item.row-footer .btn-block,
.product-links .list-product-linked .product-linked-list .product-search-item.row-footer .btn-block,
.product-links .search-results .search-result-list .product-search-item.row-footer .btn-block,
.product-links .search-results .product-linked-list .product-search-item.row-footer .btn-block {
  padding-right: 10px;
}

.product-links .list-product-linked .search-result-list .list-body .product-search-item,
.product-links .list-product-linked .product-linked-list .list-body .product-search-item,
.product-links .search-results .search-result-list .list-body .product-search-item,
.product-links .search-results .product-linked-list .list-body .product-search-item {
  border-bottom: 1px silver solid;
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.loader-block {
  text-align: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 10px auto;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #52BCD3;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.tag-list ul.tag-list-body {
  padding: 0;
  list-style: none;
}

.tag-list ul.tag-list-body li {
  position: relative;
  display: inline-block;
  list-style: none;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 30px 5px 10px;
  background: #efefef;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-top-right-radius: 15px;
  -o-border-top-right-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  -o-border-bottom-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
}

.tag-list ul.tag-list-body li a {
  text-decoration: none;
  display: block;
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -10px;
  font-size: 14px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  background: #000;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  opacity: 0.3;
  transition: all 0.5s;
}

.tag-list ul.tag-list-body li a:hover {
  background: #c00;
}

.tag-list ul.tag-list-body li:hover a {
  opacity: 1;
}

.live-search .taglist {
  padding: 0;
  max-height: 300px;
  overflow-y: scroll;
}

.live-search .taglist li {
  list-style: none;
  margin-bottom: 5px;
  padding: 2px 0;
}

.live-search .taglist li a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #efefef;
  border-radius: 5px;
  padding: 5px 15px 5px 10px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-top-right-radius: 15px;
  -o-border-top-right-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  -o-border-bottom-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
}

.live-search .taglist li a:hover {
  font-weight: 600;
}

.menu-item-card {
  border-radius: 5px;
  background-color: #fafafa;
  overflow: hidden;
}

.menu-item-card .item-form-list {
  margin: 0 0 0 0;
  padding-left: 0px;
  list-style: none;
}

.menu-item-card .item-form-list li {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 0.5px solid silver;
}

.menu-item-card .item-form-list li:last-child {
  border-bottom: none;
}

.menu-item-card .item-form-list li a.nav-item {
  display: block;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 12px;
  font-size: 16px;
}

.menu-item-card .item-form-list li a.nav-item i.fa-chevron-right {
  float: right;
  font-size: 20px;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  box-sizing: inherit;
}

.menu-item-card .item-form-list li a.nav-item:hover {
  background-color: #52BCD3;
  color: #fff;
}

.menu-item-card .item-form-list li a.nav-item::after {
  content: " ";
  display: table;
  clear: both;
}

.menu-item-card .item-form-list li .item-form {
  display: none;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
}

.menu-item-card .item-form-list li.active > a {
  background-color: #52BCD3 !important;
  color: #fff !important;
}

.menu-item-card .item-form-list li.active > a i.fa-chevron-right {
  transform: rotate(90deg);
}

.menu-item-card .item-form-list li.active .item-form {
  display: block;
  height: auto;
  overflow: auto;
}

.menu-items .item-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.menu-items .item-actions .actions-list {
  padding: 0;
  margin: 0;
}

.menu-items .item-actions .actions-list li {
  list-style: none;
  padding: 0;
  display: inline-block;
  margin-right: 10px;
}

.menu-items .item-actions .actions-list li a {
  padding: 5px 0;
  display: block;
  text-decoration: none;
}

@media (min-width: 992px) {
  .p-lr-lg-0 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .app .content {
    padding: 70px 20px 75px 20px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .app .content {
    padding: 75px 35px 80px 35px;
  }
}

@media (min-width: 1200px) {
  .app .content {
    padding: 80px 40px 85px 40px;
  }
}

/* Style the tab */
.cube-tab .tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.cube-tab .tab .tab-link {
  text-decoration: none;
  background-color: #fafafa;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.cube-tab .tab .tab-link:hover {
  background-color: #ddd;
}

.cube-tab .tab .tab-link.active {
  background-color: #52BCD3;
  color: #fff;
}

.cube-tab .tab-content-item {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
}

.cube-tab .tab-content-item.active {
  display: block;
}

.nav.nav-pills .nav-item .nav-link:hover {
  border: 1px solid transparent !important;
}

@media (min-width: 768px) {
  .props-form .nav.nav-pills {
    justify-content: flex-end;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .items-list-page .item-list .item-col.item-col-title {
    flex-basis: 30%;
  }
  .items-list-page .item-list.list-item .item-col.item-col-title {
    flex-basis: 20%;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .items-list-page .item-list .item-heading {
    line-height: 1.2;
    padding-left: 0;
  }
}
