.cube-slider {
  position: relative;
  margin-bottom: 20px;
}

.cube-slider .slider-container {
  position: relative;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

.cube-slider .slider-container .detail {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  height: 80px;
  overflow: hidden;
}

.cube-slider .slider-container .detail a {
  color: #f00;
}

.cube-slider .slider-container .detail h4 {
  font-size: 28px;
  color: #f00;
  margin-bottom: 10px;
}

.cube-slider .slider-container .detail h4 a {
  color: #000;
}

.cube-slider .slider-container .detail p {
  color: #000;
  font-size: 14px;
  display: none;
}

.cube-slider .slides > .slide {
  position: relative;
  float: left;
  display: block;
}

.cube-slider .slides > .slide .image > a {
  display: block;
}

.cube-slider .slides > .slide .image > a img {
  width: 100%;
}

.cube-slider .buttons {
  display: none;
}

.cube-slider .dots {
  display: none;
  padding: 10px;
  text-align: center;
}

.cube-slider .dots .dot {
  display: inline-block;
  margin: 0 10px;
  height: 15px;
  width: 15px;
  box-sizing: border-box;
  background-color: #08810e;
  border: 3px solid #0d9413;
  box-shadow: 0 0 5px #0d9413;
  border-radius: 50%;
  cursor: pointer;
}

.cube-slider .dots .dot:hover, .cube-slider .dots .dot.active {
  background-color: #09b612;
  border: 3px solid #07be10;
  box-shadow: 0 0 5px #03c70d;
}

@media (min-width: 768px) {
  .cube-slider .slider-container .detail {
    position: absolute;
    top: 30%;
    left: 20%;
    padding: 20px;
    width: 60%;
    box-sizing: border-box;
    text-align: center;
    height: auto;
    overflow-y: auto;
  }
  .cube-slider .slider-container .detail a {
    color: #fff;
  }
  .cube-slider .slider-container .detail h4 {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bolder;
    color: #fff;
    margin-bottom: 10px;
  }
  .cube-slider .slider-container .detail h4 a {
    color: #fff;
  }
  .cube-slider .slider-container .detail p {
    color: #fdfdfd;
    font-size: 23px;
    display: block;
  }
  .cube-slider .slides > .slide {
    position: relative;
    float: left;
    display: block;
  }
  .cube-slider .slides > .slide .image > a {
    display: block;
  }
  .cube-slider .slides > .slide .image > a img {
    width: 100%;
  }
  .cube-slider .buttons {
    display: block;
  }
  .cube-slider .buttons a {
    opacity: 0.5;
    display: block;
    position: absolute;
    top: 42%;
    font-size: 60px;
    color: #fff;
    padding: 4px 15px;
  }
  .cube-slider .buttons a.btn-left {
    left: 15px;
  }
  .cube-slider .buttons a.btn-right {
    right: 15px;
  }
  .cube-slider .buttons a:hover {
    opacity: 1;
    color: #f00;
  }
  .cube-slider .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    display: block;
  }
  .cube-slider .dots .dot {
    display: inline-block;
    margin: 0 10px;
    height: 15px;
    width: 15px;
    box-sizing: border-box;
    background-color: #08810e;
    border: 3px solid #0d9413;
    box-shadow: 0 0 5px #0d9413;
    border-radius: 50%;
    cursor: pointer;
  }
  .cube-slider .dots .dot:hover, .cube-slider .dots .dot.active {
    background-color: #09b612;
    border: 3px solid #07be10;
    box-shadow: 0 0 5px #03c70d;
  }
  .cube-slider:hover .buttons a {
    opacity: 0.8;
  }
}

@media (min-width: 1200px) {
  .cube-slide .slider-container .detail h4 {
    font-size: 60px;
  }
  .cube-slide .slider-container .detail p {
    font-size: 28px;
  }
  .cube-slide .slider-container .buttons a {
    font-size: 80px;
  }
}
