.date-table tbody tr td {
  position: relative;
  height: 70px;
  vertical-align: middle;
  text-align: center;
  padding: 0 0 0 0 !important;
}

.date-table .day-block .day-group {
  height: 70px;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}

.date-table .day-block .day-group .item-check {
  height: 70px;
  padding-left: 5px;
}

.schedule thead tr th {
  text-align: center;
}

.schedule td.disabled {
  background: #f3f3f3;
}

.schedule .go-forward .radio:checked + span:before,
.schedule .go-forward .checkbox:checked + span:before {
  color: #85CE36;
}

.schedule .go-back .radio:checked + span:before,
.schedule .go-back .checkbox:checked + span:before {
  color: #fe821d;
}

@media screen and (min-width: 992px) and (max-width: 1150px) {
  .break-point {
    overflow-x: auto;
  }
}
