.auth-container {
  max-width: 992px;
  width: 100% !important;
}

.auth-container table th, .auth-container table td {
  vertical-align: middle;
  text-align: center;
}

.auth-container table .trip-tickets input {
  max-width: 60px;
}
