@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: url(Lato_300_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Lato_300_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Lato_300_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/lato/v14/2HG_tEPiQ4Z6795cGfdivD8E0i7KZn-EPnyo3HZu7kw.woff */
        url(Lato_300_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/lato/v14/2HG_tEPiQ4Z6795cGfdivCZ2oysoEQEeKwjgmXLRnTc.ttf */
        url(Lato_300_italic.svg#Lato_300_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url(Lato_400_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Lato_400_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Lato_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/lato/v14/oUan5VrEkpzIazlUe5ieaA.woff */
        url(Lato_400_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/lato/v14/61V2bQZoWB5DkWAUJStypevvDin1pK8aKteLpeZ5c0A.ttf */
        url(Lato_400_italic.svg#Lato_400_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(Lato_300_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Lato_300_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Lato_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/lato/v14/KT3KS9Aol4WfR6Vas8kNcg.woff */
        url(Lato_300_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/lato/v14/0DeoTBMnW4sOpD0Zb8OQSALUuEpTyoUstqEm5AMlJo4.ttf */
        url(Lato_300_normal.svg#Lato_300_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(Lato_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Lato_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Lato_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/lato/v14/9k-RPmcnxYEPm8CNFsH2gg.woff */
        url(Lato_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/lato/v14/1EqTbJWOZQBfhZ0e3RL9uvesZW2xOQ-xsNqO47m55DA.ttf */
        url(Lato_400_normal.svg#Lato_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=hLECvlEj3pKlnS4NFs8NQw&skey=2d58b92a99e1c086&v=v14#Lato */
}
