.company-info-item.call-now {
  position: fixed;
  right: 70pt;
  top: auto;
  bottom: 12pt;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 0px;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  z-index: 10000;
}

.company-info-item.call-now a {
  font-size: 30px;
  text-align: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  background: #00b7f1;
  height: 45pt;
  color: #fff;
}

.company-info-item.call-now a:hover, .company-info-item.call-now a:focus {
  background: #00bdfd;
}

@media only screen and (min-width: 768px) {
  .company-info-item.call-now {
    display: none !important;
  }
}

.custom-item-carousel.owl-theme .owl-controls {
  margin-top: 0;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.post-gallery {
  margin: 40px auto;
}

.post-gallery .owl-theme .owl-controls .owl-nav [class*="owl-"] {
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.post-gallery .owl-theme .owl-controls .owl-nav [class*="owl-"] span {
  font-size: 80px;
  color: #00b7f1;
}

.post-gallery .owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
  background: rgba(255, 255, 255, 0.7);
}

.post-gallery .owl-theme .owl-controls .owl-nav [class*="owl-"]:hover span {
  color: #000;
}

.post-gallery .owl-theme .owl-controls .owl-nav [class*="owl-"].owl-prev {
  left: 0;
}

.post-gallery .owl-theme .owl-controls .owl-nav [class*="owl-"].owl-next {
  right: 0;
}
