*{margin:0px;padding:0px;border:none;outline:none;}
body{font-family:'Roboto', sans-serif;font-size:15px;color:#1c1c1c;line-height:1.8em;font-weight:400;background:#ffffff;background-size:cover;background-repeat:no-repeat;background-position:center top;-webkit-font-smoothing:antialiased;}
a{text-decoration:none;cursor:pointer;color:#443f45;}
a:hover,
a:focus,
a:visited{text-decoration:none;outline:none;}
a:hover,
a:focus{color:#00b7f1;}
h1,
h2,
h3,
h4,
h5,
h6{position:relative;font-family:'Montserrat', sans-serif;font-weight:normal;margin:0px;background:none;line-height:1.6em;}
input,
button,
select,
textarea{font-family:'Roboto', sans-serif;font-weight:400;}
p{position:relative;line-height:1.7em;font-size:15px;}
.text{font-weight:300;color:#888;font-size:15px;}
.strike-through{text-decoration:line-through;}
.auto-container{position:static;max-width:1200px;padding:0px 15px;margin:0 auto;}
.small-container{max-width:680px;margin:0 auto;}
.page-wrapper{position:relative;margin:0 auto;width:100%;min-width:300px;}
ul,
li{list-style:none;padding:0px;margin:0px;}
.theme-btn{display:inline-block;transition:all 0.3s ease;-moz-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;}
.mar-left-20{margin-left:20px !important;}
.mar-bottom-20{margin-bottom:20px;}
.mar-bottom-30{margin-bottom:30px !important;}
.mar-bottom-40{margin-bottom:40px;}
.mar-top-6-minus{margin-top:-6px;}
.mar-top-20{margin-top:20px;}
.centered{text-align:center;}
.anim-3,
.anim-3-all *{transition:all 0.3s ease;-moz-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;}
.anim-5,
.anim-5-all *{transition:all 0.5s ease;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;}
.anim-7,
.anim-7-all *{transition:all 0.7s ease;-moz-transition:all 0.7s ease;-webkit-transition:all 0.7s ease;-ms-transition:all 0.7s ease;-o-transition:all 0.7s ease;}
.owl-nav-none .owl-nav,
.owl-dots-none .owl-dots{display:none !important;}
.btn-style-one{position:relative;padding:12px 38px;line-height:24px;text-transform:uppercase;background:#00b7f1;color:#ffffff;font-size:14px;border-radius:2px;border:2px solid #00b7f1;font-weight:800;}
.btn-style-one .fa{position:relative;top:1px;padding-left:7px;font-size:12px;color:#fff;}
.btn-style-one:hover{color:#ffffff;border-color:#1c1c1c;background:#1c1c1c;}
.btn-style-one:hover .fa{color:#ffffff;}
.btn-style-two{position:relative;padding:12px 38px;line-height:24px;text-transform:uppercase;background:none;color:#fff;font-size:14px;border-radius:2px;border:2px solid #fff;border-width:2px;font-weight:800;}
.btn-style-three{position:relative;padding:12px 38px;line-height:24px;text-transform:uppercase;background:none;color:#00b7f1;font-size:14px;border-radius:2px;border:2px solid #00b7f1;border-width:2px;font-weight:800;}
.btn-style-three:hover{color:#ffffff;background:#00b7f1;}
.btn-style-two:hover{color:#00b7f1;border-color:#00b7f1;}
.theme_color{color:#00b7f1 !important;}
.light-font{font-weight:300;}
.regular-font{font-weight:400;}
.semibold-font{font-weight:600;}
.bold-font{font-weight:700;}
img{display:inline-block;max-width:100%;height:auto;}
.success{padding:1em;margin-bottom:0.75rem;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);color:#468847;background-color:#dff0d8;border:1px solid #d6e9c6;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.error{padding:1em;margin-bottom:0.75rem;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);color:#b94a48;background-color:#f2dede;border:1px solid rgba(185, 74, 72, 0.3);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.no-padding{padding:0px;}
.no-padd-bottom{padding-bottom:0px;}
.no-padd-top{padding-top:0px;}
.no-padd-left{padding-left:0px;}
.no-padd-right{padding-right:0px;}
.preloader{position:fixed;left:0px;top:0px;width:100%;height:100%;z-index:999999;background-color:#ffffff;background-position:center center;background-repeat:no-repeat;background-image:url(../images/icons/preloader.gif);overflow:hidden;}
.gray_bg{background:#f5f6f7 !important;}
.black-bg{background:#1f1f1f !important;}
.scroll-to-top{position:fixed;bottom:15px;right:15px;width:40px;height:40px;color:#00b7f1;font-size:13px;text-transform:uppercase;line-height:38px;text-align:center;z-index:100;cursor:pointer;border-radius:50%;background:#ffffff;display:none;-webkit-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;box-shadow:0 0 6px 2px rgba(0, 0, 0, 0.16);}
.scroll-to-top:hover{color:#ffffff;background:#00b7f1;}
.search-popup{position:fixed;left:0px;top:-100%;width:100%;height:100%;background:rgba(0, 0, 0, 0.80);z-index:9999;visibility:hidden;opacity:0;overflow:auto;transition:all 700ms ease;-moz-transition:all 700ms ease;-webkit-transition:all 700ms ease;-ms-transition:all 700ms ease;-o-transition:all 700ms ease;}
.search-popup.popup-visible{top:0;visibility:visible;opacity:1;}
.search-popup .close-search{position:absolute;right:25px;top:25px;font-size:20px;color:#ffffff;cursor:pointer;z-index:5;}
.search-popup .close-search:hover{opacity:0.70;}
.search-popup .search-form{position:relative;padding:0px 15px 50px;padding-top:200px;max-width:1024px;margin:0 auto;}
.search-popup .search-form fieldset{position:relative;border:5px solid rgba(255, 255, 255, 0.80);-webkit-border-radius:12px;-ms-border-radius:12px;-o-border-radius:12px;-moz-border-radius:12px;border-radius:12px;}
.search-popup .search-form fieldset input[type="search"],
.search-popup .search-form fieldset input.form-control{position:relative;height:70px;padding:20px 220px 20px 30px;background:#ffffff;line-height:30px;font-size:24px;color:#233145;-webkit-border-radius:7px;-ms-border-radius:7px;-o-border-radius:7px;-moz-border-radius:7px;border-radius:7px;}
.search-popup .search-form fieldset input[type="submit"]{position:absolute;display:block;right:0px;top:0px;text-align:center;width:220px;padding:20px 10px 20px 10px;color:#ffffff;background:#00b7f1;line-height:30px;height:70px;font-size:20px;text-transform:uppercase;-moz-border-radius:0px 7px 7px 0px;-ms-border-radius:0px 7px 7px 0px;-o-border-radius:0px 7px 7px 0px;-webkit-border-radius:0px 7px 7px 0px;border-radius:0px 7px 7px 0px;}
.search-popup .search-form fieldset input[type="submit"]:hover{background:#334551;color:#ffffff;}
.search-popup h3{font-size:24px;color:#ffffff;margin-bottom:30px;text-align:center;letter-spacing:1px;}
.search-popup .recent-searches{font-size:14px;color:#ffffff;text-align:center;}
.search-popup .recent-searches li{display:inline-block;margin:0px 10px 10px 0px;}
.search-popup .recent-searches li a{display:block;line-height:24px;border:1px solid #ffffff;padding:5px 20px;color:#ffffff;border-radius:3px;}
.search-popup .recent-searches li a:hover{color:#00b7f1;border-color:#00b7f1;}
.sec-title{position:relative;margin-bottom:50px;margin-top:-5px;}
.sec-title.center{text-align:center;}
.sec-title h2{font-size:40px;font-weight:500;text-transform:capitalize;padding-bottom:30px;color:#222;line-height:40px;}
.sec-title.light h2{color:#fff;}
.sec-title .text{position:relative;color:#888888;font-size:14px;line-height:1.8em;}
.sec-title .separator{position:relative;display:block;}
.sec-title .separator:before{position:absolute;content:"";height:1px;bottom:0;background-color:#e5e5e6;width:100%;left:0;}
.sec-title .separator:after{position:absolute;content:'';width:140px;height:1px;bottom:0px;background:#00b7f1;left:0;}
.sec-title.center .separator:after{left:50%;margin-left:-70px;}
.hover-style1{display:block;position:relative;}
.hover-style1-img img{width:100%;}
.hover-style1 > .hover-style1-img::before{background:rgba(0, 0, 0, 0.8) none repeat scroll 0 0;bottom:0px;content:"";left:0px;opacity:0;position:absolute;right:0px;top:0px;transition:all 0.4s ease-in-out 0s;}
.hover-style1:hover .hover-style1-img::before{opacity:0.8;}
.hover-style1-img{position:relative;}
.hover-style1-view a{background:rgba(255, 255, 255, 1) none repeat scroll 0 0;border-radius:50%;color:#000;font-size:20px;height:60px;line-height:60px;opacity:0;position:absolute;text-align:center;transform:translateX(-50%) translateY(-50%) scale(0.6);transition:all 0.4s ease 0s;width:60px;}
.hover-style1-view a:hover{background:rgba(255, 255, 255, .8) none repeat scroll 0 0;color:#000;}
.hover-style1:hover .hover-style1-view a{opacity:1;transform:translateX(-50%) translateY(-50%) scale(1);}
.hover-style1-view{left:0;opacity:0;position:absolute;right:0;text-align:center;top:50%;transform:translateY(-50%);transition:all 0.5s ease 0s;}
.hover-style1:hover .hover-style1-view{opacity:1;}
.hover-style1-title{bottom:20px;left:20px;opacity:0;position:absolute;transition:all 0.3s ease-in-out 0s;z-index:2;}
.hover-style1:hover .hover-style1-title{opacity:1;}
.title-style-1 h3{color:#fff;font-size:20px;font-weight:500;text-transform:capitalize;transform:translateY(15px);transition:all 0.4s ease-in-out 0s;}
.title-style-1 h3 a{color:#fff;}
.hover-style1:hover .title-style-1 h3,
.hover-style1:hover .title-style-1 span{transform:translateX(0px);}
.title-style-1 span{color:#fff;display:inline-block;font-size:15px;line-height:16px;transform:translateY(15px);transition:all 0.4s ease-in-out 0s;text-transform:capitalize;}
.view-more > a{background-color:#333;color:#fff;display:inline-block;font-size:14px;font-weight:700;margin-top:25px;padding:10px 20px;text-transform:uppercase;}
.view-more > a i{padding-left:5px;}
.view-more > a:hover::before{transform:scaleX(1);transition-timing-function:cubic-bezier(0.52, 1.64, 0.37, 0.66);}
.list-style-one{position:relative;}
.list-style-one li{position:relative;color:#1c1c1c;font-size:14px;margin-bottom:18px;}
.list-style-one li:last-child{margin-bottom:0px;}
.social-icons li{position:relative;margin-right:12px;display:inline-block;font-size:15px;}
.social-icons li a{color:#999;}
.social-icons.light li a{color:#fff;}
.social-icons.theme-color li a{color:#00b7f1;}
.social-icons.light li a:hover{opacity:0.7;}
.social-icons.light li a,
.social-icons a:hover{color:#00b7f1;}
.social-icon-two{position:relative;}
.social-icon-two li{position:relative;display:inline-block;margin:0px 4px;}
.social-icon-two a{position:relative;display:inline-block;width:40px;height:40px;color:#fff;font-size:16px;text-align:center;border-radius:50%;line-height:38px;border:1px solid #fff;-webkit-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;}
.social-icon-two a:hover{color:#00b7f1;border-color:#00b7f1;}
.fancybox-next span,
.fancybox-prev span{background-image:none !important;width:44px !important;height:44px !important;line-height:44px !important;text-align:center;}
.fancybox-next span:before,
.fancybox-prev span:before{content:'';position:absolute;font-family:'FontAwesome';left:0px;top:0px;font-size:12px;width:44px !important;height:44px !important;line-height:44px !important;background-color:rgba(28, 28, 28, 0.40) !important;color:#ffffff;visibility:visible;transition:all 300ms ease;-webkit-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;-moz-transition:all 300ms ease;}
.fancybox-next span:before{content:'\f178';}
.fancybox-prev span:before{content:'\f177';}
.fancybox-next:hover span:before,
.fancybox-prev:hover span:before{background-color:#ffffff !important;color:#000000;}
.fancybox-type-image .fancybox-close{right:0px;top:0px;width:45px;height:45px;background:url(../images/icons/icon-cross.png) center center no-repeat;background-color:rgba(17, 17, 17, 0.50) !important;}
.fancybox-type-image .fancybox-close:hover{background-color:#000000 !important;}
.fancybox-type-image .fancybox-skin{padding:0px !important;}
.video-image-box .image{position:relative;}
.video-image-box img{display:block;width:100%;}
.video-image-box .image .overlay-link{position:absolute;left:0px;top:0px;width:100%;display:flex;height:100%;font-size:50px;align-items:center;justify-content:center;color:#24a0de;text-align:center;background:rgba(0, 0, 0, 0.10);transition:all 500ms ease;-moz-transition:all 500ms ease;-webkit-transition:all 500ms ease;-ms-transition:all 500ms ease;-o-transition:all 500ms ease;}
.video-image-box .image .overlay-link:hover{background:rgba(0, 0, 0, 0.30);}
.video-image-box .image .overlay-link .icon{position:absolute;left:50%;top:50%;margin-top:-40px;margin-left:-40px;width:90px;height:90px;line-height:90px;font-size:60px;color:#ffffff;border-radius:50%;}
.video-image-box .image .overlay-link .icon:after{position:absolute;content:'';width:60px;height:60px;left:15px;top:15px;border-radius:50%;z-index:0;}
.video-image-box .image .overlay-link .icon:before{position:relative;z-index:99;left:2px;}