$color: rgb(0, 183, 241);
$rgba_color: rgba(0, 183, 241, 0.22);
$link_color: #00bdfd;
$text_color: $color;
$bg_color: $color;
$border_color: $color;
$color2: #00bdfd;
$text_color2: $color2;
$bg_color2: $color2;
$border_color2: $color2;

$invert_color: #fff;

.modal-open {
    overflow: hidden;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 299999;
    display: none;
    overflow: hidden;
    outline: 0;
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 100px auto;
    }
    .modal-content {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        outline: 0;
    }
    .modal-header {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 15px;
        border-bottom: 1px solid #e9ecef;
    }
    .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
        width: 100%;
    }
    .modal-body {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 15px;
        &.modal-tab-container {
            padding: 0;
            .modal-tabs {
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                background-color: #ffffff;
                border-bottom: 1px solid #ddd;
                -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
                .nav-link {
                    padding: 10px 20px;
                    border: none;
                    &:hover,
                    &.active {
                        color: $color;
                        border-bottom: 2px solid $border_color;
                    }
                    &.active {
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .modal-footer {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 15px;
        border-top: 1px solid #e9ecef;
    }
    .modal-footer> :not(:first-child) {
        margin-left: .25rem;
    }
    .modal-footer> :not(:last-child) {
        margin-right: .25rem;
    }
    .modal-scrollbar-measure {
        position: absolute;
        top: -9999px;
        width: 50px;
        height: 50px;
        overflow: scroll;
    }
    &.fade {
        .modal-dialog {
            transition: -webkit-transform 0.3s ease-out;
            transition: transform 0.3s ease-out;
            transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
            -webkit-transform: translate(0, -25%);
            transform: translate(0, -25%);
        }
    }
    &.show {
        .modal-dialog {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }
    .btn {
        background-image: none;
        border-radius: 0;
        margin-bottom: 5px;
        line-height: 1.2;
        &.btn-primary {
            color: #ffffff;
            background-color: $color;
            border-color: #01a8db;
            &:hover {
                color: #ffffff;
                background-color: $bg_color2;
                border-color: $border_color2;
            }
            &:focus,
            &.focus {
                -webkit-box-shadow: 0 0 0 3px rgba(82, 188, 211, 0.5);
                        box-shadow: 0 0 0 3px rgba(82, 188, 211, 0.5);
            }
            &.disabled,
            &:disabled {
                background-color: #52BCD3;
                border-color: #52BCD3;
            }
            &:active,
            &.active,
            &.dropdown-toggle {
                background-color: $bg_color;
                background-image: none;
                border-color: $border_color; 
            }
        }
        &.btn-secondary {
            color: #4f5f6f;
            background-color: #fff;
            border-color: #d7dde4;
            &:hover {
                color: #111;
                background-color: #ececec;
                border-color: #b9c3cf;
            }
            &:focus,
            &.focus {
                -webkit-box-shadow: 0 0 0 3px rgba(215, 221, 228, 0.5);
                box-shadow: 0 0 0 3px rgba(215, 221, 228, 0.5);
            }
            &.disabled,
            &:disabled {
                background-color: #fff;
                border-color: #d7dde4;
            }
            &:active,
            &.active,
            &.dropdown-toggle {
                background-color: #ececec;
                background-image: none;
                border-color: #cfccb9;
            }
            &:hover {
                color: #6f664f;
            }
        }
    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 199999;
    background-color: #000;
    opacity: 0.5;
    &.in {
        opacity: 0.5;
    }
}

.show>.btn.btn-primary.dropdown-toggle {
    background-color: $bg_color2;
    background-image: none;
    border-color: $border_color2;
}

.show>.btn.btn-secondary.dropdown-toggle {
    background-color: #ececec;
    background-image: none;
    border-color: #b9c3cf;
}

.modal .modal-content {
    border-radius: 0;
}

.modal .modal-header {
    background-color: $color;
    color: #ffffff;
}

.modal .modal-footer .btn {
    margin-bottom: 0;
}


@media (min-width: 576px) {
    .modal {
        .modal-dialog {
            max-width: 500px;
            margin: 30px auto;
        }
        .modal-sm {
            max-width: 300px;
        }
    }
}

@media (min-width: 576px) {
    .modal {
        .modal-dialog {
            margin: 120px auto;
        }
    }
}

@media (min-width: 768px) {
    .modal {
        .modal-dialog {
            margin: 120px auto;
        }
    }
}


@media (min-width: 992px) {
    .modal {
        .modal-lg {
            max-width: 800px;
        }
        .modal-max {
            max-width: 980px;
        }
    }
}
